$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Pavanam|Spirax');

body {
  background-color:#f8f8f8;
}

#timer {
  width:100%;
  font-size:5em;
  font-family:Pavanam;
  font-weight:bold;
}

#title {
  font-family:Spirax;
  font-size:76px;
  color:rgb(203,1,1);
  margin-bottom:-20px;
}

#subtitle {
  font-family:Pavanam;
  font-size:37px;
}

.on-break{
  color:rgb(25,80,25);
}
