doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    .container
      .page-header
        h1#title Pomodoro
        small#subtitle getting the sauce done
      block content
    
    include templates/task
    script(src="/javascripts/bundle.js")