body {
  background-color:#f8f8f8;
}

#timer {
  width:100%;
  font-size:5em;
  font-family:Pavanam;
  font-weight:bold;
}

#title {
  font-family:Spirax;
  font-size:76px;
  color:rgb(203,1,1);
  margin-bottom:-20px;
}

#subtitle {
  font-family:Pavanam;
  font-size:37px;
}

.task-estimate {
  text-align:right;
}

